#pic1, #pic2, #pic3 {
    display: none;
    position: absolute;
    width: auto;
    height: auto;               
    padding: 0;
    border: 2px solid #FFF;
    background: #fff;
    z-index:1002;
    overflow:visible;
}